@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #e7d8d8;
    --bg2: #c4d1fc;

    --primary: #fd6adb;
    --secundary: #e47bfe;
    --accent: #639efc;
    --white: #fff;

    --text: #0e0e0e;
    --border: #fbbff985;

    --focus: #ff9539;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 0;
    color: var(--text);
    background: #fff;
}

h1, h2, h3 {
    font-family: "Almendra", sans-serif;
    font-weight: 700;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a:focus-visible,
button:focus-visible {
    outline: 3px solid var(--focus);
    outline-offset: 3px;
    border-radius: 10px;
}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;
}

