.mapa {
    max-width: 70vw;
    margin: 1rem;
    padding: 1rem;
}

.mapinha {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.painel {
    background: #fff;
    border: 1px solid #ee74e4;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.painel-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.vazio {
    color: red;
    font-size: 1.1rem;
}

.botao{
    background: #ee74e4;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
}

.botao:hover {
    background: #86056f;
    text-decoration: underline;
}

.lista-pontinhos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pontinho {
    display: grid;
    grid-template-columns: 48px 1fr 110px;
    gap: 10px;
    align-items: center;
    padding: 6px 0;
    border-top: 1px gray solid;
}